body {
    color: #E9EAEC;
    background-color: #333652;
}

#subscribe, #administration {
    position: absolute;
    top: 0.5%;
}

#connexion {
    position: absolute;
    top: 0.5%;
    right: 0.5%;
}

h1 {
    color: #90adc6;
    font-size: 3em;
}

a:link {
    color: #9e5ec9;
}

a:visited {
    color: #c8df52;
}

#h1 {
    background-color: #e9eaec;
    margin-left: 20%;
    margin-right: 20%;
}

#h1 p {
    color: #333652;
    font-size: 1.5em;
}

h1, p, .news h3 {
    text-align: center;
}

#postAnnonce {
    text-align: center;
}

h3 {
    color: #FAD02C;
}

h3 em {
    font-size: 0.5em;
}
.news {
    padding-top: 2em;
}

.news a:visited {
    color: #470ea8;;
}

.news h3 {
    font-size: 2.2em;
}

.news p {
    color: #333652;
    background-color: #e9eaec;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    text-align: left;
}

.commentaires {
    font-size: 1.2em;
    max-width: 60%;
    margin: auto;
    background-color: #222538;
    color: #FAD02C;
}

.firstP {
    color: #e9eaec;
}

#editor {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#delete-confirmation {
    display: none;
}